	<div class="form-group form-horizontal row mapping-row <% if(value && !invalid) {%><%} else if(invalid) {%>has-error<%}%>">
		  	<label for="<%=header%>" class="col-sm-4"><%=header%></label>
		  	<div class="col-sm-8">
		  		<!--TODO: there is no guarantee that headers are unique-->
			  	<select id="<%=header%>" class="form-control input-sm">
			  		<option value="" style="display:none" default <% if (!value) { %>selected="selected"<% } %>>Choose an option (or leave blank to ignore)</option>
			  		<% for (var p in xpaths) { %>
			  			<option value="<%=xpaths[p].value%>" <% if(value === xpaths[p].value) {%>selected="selected"<%}%>><%=xpaths[p].label%></option>
			  		<% } %>
			  	</select>
				</div>
	</div>
